<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New season</title>
</head>
<body>
    <h1>New season {{ season.year }} created</h1>
    <p>Hello, the new season {{ season.number }} has been created on Wild Series</p>
    <p>Summary : {{season.description }}
</body>
</html>